/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

input,
button {
  &:focus-visible {
    outline: 1px solid currentColor;
  }
}

button {
  &:hover {
    opacity: 0.9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  &:active {
    opacity: 0.8;
    background: rgb(150, 177, 195);
    color: white;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  max-inline-size: 32rem;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

#instructions {
  padding-block-start: 2rem;

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  @media (width >= 512px) {
    h2 {
      font-size: 1.25rem;
    }
  }
}

hr {
  margin-block: 2rem;
}

#password-form {
  .field {
    margin-block-end: 1.25rem;
  }

  label {
    display: flex;
    margin-block-end: 0.5rem;
    font-size: 0.875rem;
  }

  @media (width >= 512px) {
    input {
      font-size: 1rem;
    }
  }

  input {
    display: flex;
    inline-size: 100%;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
  }

  @media (width >= 512px) {
    input {
      padding: 0.5rem 0.75rem;
    }
  }

  button {
    appearance: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    &[disabled] {
      filter: grayscale(20%);
      pointer-events: none;
    }
  }
}
